/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
*.zip
*.rar
composer.lock
public/sitemap.xml
public/sitemap-vi.xml
public/sitemap-en.xml
