.fa,
.fas,
.far,
.fal,
.fad,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.dropdown-language {
    .my-dropdown-button i svg {
        width: 14px;
        height: 17px;
        fill: var(--main-color-grey);
    }
}

.phone-main-icon {
    fill: var(--main-color-yeallow);

    &:before {
        display: none;
    }
}

.dropdown-search i {
    fill: var(--main-color-grey);
}

@media (min-width: 1024px) {
    .dropdown-search i {
        top: 32%;
    }
}

@media only screen and (max-width: 768px) {
    .bar-menu-main i {
        fill: var(--main-color-logo);
        font-size: unset;

        &:before,
        &.fa-window-close .icon-menu,
        &.fa-bars .icon-close-button {
            display: none;
        }
    }
    .main-menu-page {
        .menu-down-mobile:before {
            display: none;
        }

        .fa-chevron-down .icon-up-chevron,
        .fa-chevron-up .icon-down-chevron {
            display: none;
        }
    }
}
